<tr>
  <td><%= booking.id %></td>
  <td><%= booking.city[0,15] %></td>
  <td><%= booking.zip_code %></td>
  <td><%= booking.charges.length %></td>
  <td><%= booking.bucket %></td>
  <td><%= link_to "View", [@survey, booking], class: "btn btn-mini" %></td>
</tr>