<%= form_for [@survey, @booking] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code %>
  </div>
  
  <%= f.fields_for :booking_details do |builder| %>
    <%= render 'booking_detail_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Charge", f, :booking_details %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
