<% provide(:title, "Bookings") %>
<h1>Bookings</h1>

<% @survey.bookings.each do |booking| %>
  <div class="article">
    <%= link_to "Booking #{booking.id}:", [@survey, booking] %>
    <%= pluralize(booking.charges.size, "Charge") %> |
    Bucket: <%= booking.bucket %>
  </div>
<% end %>

<p><%= link_to 'New Booking', new_survey_booking_path(@survey) %></p>
<p><%= link_to 'Back to Survey', @survey %></p>
