<% provide(:title, "Bookings") %>

<div class="row">
  <%= will_paginate %>
  <aside class="span4">
    <p><%= link_to 'Back to Survey', @survey, class: "btn btn-primary" %></p>
    <p><%= link_to 'New Booking', new_survey_booking_path(@survey),
          class: "btn" %></p>
  </aside>
  <div class="span6">
    <h3>Bookings</h3>
    <ul class="users">
      <%= render @bookings %>
    </ul>
  </div>
  <%= will_paginate %>
</div>
