<% provide(:title, "Edit survey") %>
<h1>Edit survey</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for( @survey, :html => {:multipart => true} ) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.file_field :csv_file %>
      <label>
        <%= f.check_box :remove_csv_file %>
        Remove file
      </label>


      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>