<% provide(:title, @survey.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @survey.name %>
      </h1>
      <p>Created <%= @survey.created_at.strftime("%m/%d/%Y") %></p>
      <p><%= pluralize(@survey.bookings.count, "booking") %></p>
      <% if @survey.assets.exists? %>
        <h4>Attached Files</h4>
        <ol class="assets">
          <% @survey.assets.each do |asset| %>
            <li id="<%= asset.id %>">
              <%= button_to 'process file',
                            process_csv_file_path(asset),
                            method: :put,
                            class: "btn btn-mini"%>
              <%= File.basename(asset.asset_file_name) %>
              <p>
                <small><%= number_to_human_size(asset.asset.size) %></small>
              </p>
            </li>
          <% end %>
        </ol>
      <% end %>
      <p><%= link_to "Edit Survey", edit_survey_path(@survey), class: "btn" %></p>
      <p><%= link_to "View Bookings", survey_bookings_path(@survey), class: "btn" %></p>
    </section>
  </aside>
</div>