<% provide(:title, "Upload file") %>
<h1>Upload file</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for( @survey, :html => {:multipart => true} ) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <% number = 0 %>
      <%= f.fields_for :assets do |asset| %>
          <%= asset.label :asset, "File ##{number += 1}" %>
          <%= asset.file_field :asset %>
      <% end %>
      <%= f.submit "Process file", class: "btn btn-primary" %>
      <%= link_to "Cancel", @survey, class: "btn" %>
    <% end %>
  </div>
</div>