<%= form_for [:admin, @user] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <label>
    <%= f.check_box :admin %>
    Admin
  </label><br/>

  <%= f.submit class: "btn btn-primary" %>
  <%= link_to "Cancel", :back, class: "btn" %>
<% end %>